body {
    background-color: #232323;
    text-transform: uppercase;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

button {
    text-transform: uppercase;
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    outline: none;
}

#pickedColor {
	font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background: steelblue;
}

.square {
    width: 30%;
    margin: 1.66%;
    float: left;
    background: red;
    padding-bottom: 30%;
    border-radius: 15%;
}

h1 {
    color: white;
    background: steelblue;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

#middleDiv {
    background: white;
    color: black;
    height: 30px;
    text-align: center;
}

#bottomDiv {
    max-width: 600px;
    margin: 20px auto;
}